<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
crossorigin="anonymous" />

</head>
<body>

    <nav id="topNav">
        <a href="/" id="logo">AGORA</a>
        <a href="/" class="navItem" id="homepage" >Homepage</a>
        <a href="#" class="navItem" style="color: rgb(255,127,194);">About us</a>
        <a href="/contact" class="navItem">Contact us</a>
        <a href="/user" class="loginBtn navItem">User login</a>
        <a href="/login" class="loginBtn navItem">Admin login</a>
    </nav>

    <div class="about">
    <div class="cont">
    </div>
    <div class="cont1">
            <div class="title">About Us</div>
            <div class="descr">Lorem ipsum dolor  adipisicing elit. Quia sit optio quos soluta provident<br> numquam.</div>
    </div>
    </div>
    <div class="section1">
        <div class="img"><img src="images/img1.jpg"></div>
        <div class="text">
            <p class="ss">WHO WE ARE</p>
            <p class="ss1">Lorem, ipsum dolor sit. magni nam  aut cupiditate veniam .</p>
            <p class="ss2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quisquam numquam voluptatum odio ipsam perspiciatis modi facere commodi iure alias.</p>
            <button class="btn1">DISCOVER MORE</button>
        </div>

    </div>
    <div class="section2">
        <div class="sect">
            <div class="sec2-com">
                <div class="logo1"><img src="images/logo_4.png"></div>
                <div class="logo1"><img src="images/logo_4.png"></div><div class="logo1"><img src="images/logo_4.png"></div>
                <div class="logo1"><img src="images/logo_4.png"></div>
                <!-- <div class="logo1"><img src="logo_4.png"></div>
                <div class="logo1"><img src="logo_4.png"></div>
                <div class="logo1"><img src="logo_4.png"></div>
                <div class="logo1"><img src="logo_4.png"></div> -->
            </div>
        </div>
        <p class="new">Join over 300,000+ businesses to create unique brand designs.</p>
    </div>
    <div class="section3">
        <div class="sec3-imgsec">
            <img src="images/Css_Background_Image.avif"/>
             <div class="imgtext">
                <div class="t1">OUR VALUE</div>
                <div class="t2">
                    Smart Designs, Sharp Results - Choos Digital Excellence.</div>
                    <div class="t3">Neque sodales elementum fames ac nunc pellentesque penatibus. Consectetuer donec nascetur fames metus est faucibus sodales commodo natoque consequat fusce.</div>
                    <button class="btn3">LEARN MORE</button>
             </div>
             
        </div>
        <div class="sec3-text">
            <div class="sec3-text-1">
                <p class="h1">OUR VISION</p>
                <p class="h2">Lorem ipsum dolor . Tempore culpa quasi aliquam  velit ad.</p>
                <p class="h3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea enim inventore adipisci, ex debitis corporis esse? Asperiores esse adipisci aut.</p>
            
            </div>
            <div class="sec3-text-2">
                <p class="h1">OUR MISSION</p>
                <p class="h2">Lorem ipsum dolor . Tempore culpa quasi aliquam  velit ad.</p>
                <p class="h3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea enim inventore adipisci, ex debitis corporis esse? Asperiores esse adipisci aut.</p>
            </div>
        </div>
    </div>
    <div class="section-4">
        <div class="sec4-text">
           <span> 56k+</span>
            PROJECT DONE</div>
        <div class="sec4-text">
            <span>38k+</span>
            HAPPY CLIENT
        </div>
        <div class="sec4-text"><span>4.7</span>
        CLIENT RATING</div>
        <div class="sec4-text">
            <span>35+</span>
            AWARD WINING
        </div>
    </div>
    <div class="section-5">
        <div class="sec5-text">
            <div class="gg">Meet Our Team</div>
            <div class="ff">Alone we can do so little, together we can do so much.</div>
        </div>
        <div class="founders">
            <div class="found">
                <div class="found-img"><img src="images/ji.jpg"></div>
                <div class="found-prop">
                    <p class="qw">Harshit Verma</p>
                    <p class="we">CTO</p>

                </div>
                <div class="io">
                    <a href="#"> <i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#">  <i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="#">                    <i class="fab fa-twitter fa-lg"></i></a>

                </div>
            </div>
            <div class="found">
                <div class="found-img"><img src="images/ji.jpg"></div>
                <div class="found-prop">
                    <p class="qw">Vasu Choudhari</p>
                    <p class="we">CEO</p>

                </div>
                <div class="io">
                    <a href="#"> <i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#">  <i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="#">                    <i class="fab fa-twitter fa-lg"></i></a>

                </div>
            </div>
            <div class="found">
                <div class="found-img"><img src="images/ji.jpg"></div>
                <div class="found-prop">
                    <p class="qw">Ratnesh Anand</p>
                    <p class="we">CMO</p>

                </div>
                <div class="io">
                    <a href="#"> <i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#">  <i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="#">                    <i class="fab fa-twitter fa-lg"></i></a>

                </div>
            </div>

        </div>
    </div>
    
</body>
</html>