<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin_red.css">
</head>
<body>
        <form action="/register" method="post">
           
            <a href="/" class="home"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span>Back to home</span>
            </a>
            
            <h2>Register to <span id="logo">AGORA</span></h2>
            <input type="text" placeholder="Company name" name="company" required>
            <input type="text" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button>Submit</button>
            <div class="login">
                Already registered ? <a href="/login">Login here</a>
            </div>
        </form>

        <script src="https://kit.fontawesome.com/b51a57a65a.js" crossorigin="anonymous"></script>
</body>
</html>