<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agora Anatylics</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav id="topNav">
        <a href="#" id="logo">AGORA</a>
        <a href="#" class="navItem" id="homepage" style="color: rgb(255,127,194);">Homepage</a>
        <a href="/about" class="navItem">About us</a>
        <a href="/contact" class="navItem">Contact us</a>
        <a href="http://localhost:3000/user" class="loginBtn navItem">User login</a>
        <a href="/login" class="loginBtn navItem">Admin login</a>
    </nav>

    <div class="container">

        <div class="backVideo">
            <video autoplay muted loop id="myVideo">
                <source src="back_video.webm" type="video/webm">
            </video>
        </div>


        <div class="main">
            <div class="mainItem">Welcome to Agora</div>
            <div class="mainItem">Scaling buisnesses & Rewarding you <br> Your Insights, Our Focus</div>
            <div class="mainItem">Agora empowers businesses to gather valuable customer feedback through engaging survey polls, enabling data-driven decisions that drive growth. Users are rewarded for their participation with points redeemable for gift cards and other rewards, creating a mutually beneficial experience. Join Agora and unlock a new era of customer-centric insights while rewarding your most valuable stakeholders - your users.</div>
            <div class="mainItem logins">
                <a href="/user" class="loginBtn">User login</a>
                <a href="/login" class="loginBtn" style="background: transparent; color: white; outline: 1px solid white;">Admin login</a>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="subSection2 ss2Infobox">
            <h1 class="heading">
                Experience the magic of scaling buisnesses through AGORA.
            </h1>

            <p class="ss2Info">
                Agora helps in scaling your buisness through various methods and helps to collect important data from the users.
            </p>

            <div class="graph">
                <div class="graphElement">
                    <p>Design & Branding</p>
                    <div class="rod">
                        <div class="rodLoad"></div>
                    </div>
                </div>
                <div class="graphElement">
                    <p>Web & App Developer</p>
                    <div class="rod">
                        <div class="rodLoad"></div>
                    </div>
                </div>
                <div class="graphElement">
                    <p>Digital Marketing</p>
                    <div class="rod">
                        <div class="rodLoad"></div>
                    </div>
                </div>
                <div class="graphElement">
                    <p>Social Media Manegement</p>
                    <div class="rod">
                        <div class="rodLoad"></div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="subSection2 ss2Img">
        </div>
    </div>

    <div class="section3">
        <div class="level1">
            <div class="level2">
                <div class="level3">
                    <div class="level4up">
                        <img src="pc.png" width="300" alt="#">
                        <div>
                            <h2>Timely and Transparent Communication</h2>
                            <p>Have the experience of 24 X 7 help support of Agora, which will help you to build and scale your buisness.</p>
                            <a href="/about">LEARN MORE</a>
                        </div>
                    </div>
                    <dev class="level4up">
                        <img src="rocket.png" width="300" alt="#">
                        <div>
                            <h3>Boost Traffic & Sales</h3>
                        <p>Agora enagages its audience thorough gamified surveys which increses the retention time thus helping us to boost traffic & scales.</p>
                        </div>
                    </dev>
                </div>
                <div class="level3">
                    <div class="level4down">
                        <div>
                            <h1>4.7+</h1>
                        <h2>Client Ratings</h2>
                        <div class="stars">
                            <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: rgb(102, 102, 98);"></i>
                        </div>
                        <p>The testimonials of our users itself speaks about our brand
                        </p>
                        </div>
                    </div>
                    <div class="level4down">
                        <img src="mobile.png" width="300" alt="#">
                        <div>
                            <h2>Responsive and Scalable Solutions</h2>
                        <p>With the availabilty in both mobile as well as PC will help to retain more audience</p>
                        <a href="/about" style="color: white; background-color: black;">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level2">
                <div>
                    <i class="fa fa-phone" aria-hidden="true" style="font-size: 3rem;"></i>
                    <h2>Premium Support <br>(888) 4000-2234</h2>
                <p>The amazing support team of Agora stands with you 24 X 7</p>

                <a href="#" style="color: white; background-color: black;">CALL NOW!</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="contactSection">
        <div class="ss4">
            <a href="#" id="logo">AGORA</a>
            <p>Transforming Ideas into Digital Excellence. Elevate your online presence with our innovative solutions and strategic digital services.</p>
            <div class="contactLogos">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
        </div>
        <div class="ss4">
            <h2>Company</h2>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/b51a57a65a.js" crossorigin="anonymous"></script>
</body>
</html>