@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: "Outfit", sans-serif; */
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: rgb(10,1,24);
    font-family: "Outfit", sans-serif;
    color: white;
}