@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: "Outfit", sans-serif; */
}

a{
    text-decoration: none;
    color: inherit;
}



body{
    background-color: rgb(10,1,24);
    font-family: "Outfit", sans-serif;
    color: white;
    /* background: url(bg_books.png); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#topNav{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(7,1,16);
    border-bottom: 0.5px solid white;
    width: 85vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navSection{
    display: flex;
    flex-direction: column;
    width: 85vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navItem{
    color: white;
    padding: 10px;
    margin: 15px;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navItem:hover{
    color: rgb(255,127,194);
}

#logo{
    background: #121FCF;
background: linear-gradient(130deg, rgb(81, 175, 241), rgb(103, 135, 203),rgb(207, 56, 240),rgb(204, 105, 226));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 1.5rem;
font-family: 'Times New Roman', Times, serif;
}


#homepage {
    
    margin-left: auto;
}

.loginBtn{
    color: white;
    border-radius: 20px;
    /* background: linear-gradient(130deg, rgb(101, 160, 248), rgb(105, 103, 203),rgb(207, 56, 240),rgb(185, 121, 199)); */
    background: linear-gradient(120deg, #b47cfd 20%, #ff7fc2 60%);
    transition: 0.5s;
}

.loginBtn:hover{
    background: transparent;
    outline: 1px solid white;
}
.creditBtn{
    background-color: transparent;
    outline: 1px solid white;
    border-radius: 20px;
}

.main{
    padding-top: 100px;
    display: flex;
}

.mainItem:nth-child(1){
    width: 25%;
}

.mainItem:nth-child(2){
    width: 75%;
    margin-left: 25%;

}

.btns button{
    color: white;
    padding: 8px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    transition: all ease 0.5s;
} 

#aiBtn{
    background: linear-gradient(120deg, #b47cfd 20%, #ff7fc2 60%);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    transition: 1s;
}

#aiBtn:hover{
    background: linear-gradient(120deg, #ff7fc2 20%, #b47cfd 60%);
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
}

.icon i{
    font-size: 8rem;
}

.survey{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    background-color: #160334;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    margin: 15px;
    margin-left: 0;
    gap: 10px;
}

#surveyForm{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    gap: 10px;
}

.options{
    padding: 10px;
    border-radius: 20px;
    /* backdrop-filter: blur(3px);  */
    background: radial-gradient(at top left, rgba(86, 50, 144, 0.5) 0%, transparent 100%);
}

.option{
    margin: 10px;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btns button:hover{
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    background-color: rgb(32, 146, 32) !important;
    /* color: black; */
}

.clear{
    padding: 5px;
    outline: 1px solid white;
    background-color: transparent;
    color: white;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
}

.clear:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}

.sideNav{
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50vh;
    /* height: 10vh; */
    left: 0px;
    top: 70px;
    background-color: #0a0316;
    justify-content: center;
    align-items: center;
    z-index: 101;
    height: 0vh;  
    overflow: hidden;
    transition: all ease 0.5s;
  }
  
  .sideItem{
    padding: 10px;
    margin: 10px;
  }
  
  
  #checkbox{
    display: none;
  }
  

@media screen and (max-width : 600px){

    #checkbox{
        padding: 15px;
        font-size: 1.5rem;
        display: block;
        margin-left: auto;
      }
    
    .navItem{
        display: none;
      }
    

    .main{
        flex-direction: column;
    }

    .mainItem{
        width: 100% !important;
    }

    .mainItem:nth-child(1){
        height: 100px;
        margin: 20px;
    }

    .mainItem:nth-child(2) {
        margin: 20px;
    }

    .icon{
        position: relative;
        height: 100px;
    }
}